@model IEnumerable<BusinessObjects.EventsBO>

@{
    ViewBag.Title = "MyEvents";
}

<h2>MyEvents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventsCreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventsCreatedByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfTheEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleOfTheBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTheEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventsCreatedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventsCreatedByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfTheEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleOfTheBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfTheEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
          
        </td>
    </tr>
}

</table>
